.submit-div {
  text-align: center;
  margin: 20px;
}

.title {
  text-align: center;
  margin-top: 25px;
}

.list {
  margin-bottom: 40px;
}

.empty {
  color: gray;
}

.dropdown {
  margin: 5px 0px 5px 0px;
}